# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir
build/

# gtest
gtest/

3rdparty/**/build/
.idea/
cmake-*/
latest/
release/

# WIndows - related 3rd-party
3rdparty/boost/
3rdparty/cudnn-windows-*/
3rdparty/curl/
3rdparty/opencv/
3rdparty/opencv_contrib/
3rdparty/openssl/
3rdparty/zlib/

